

.textArea {
  border: 1px solid #eee;
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 0.4rem;
  background: #eee;
  transition: 0.2s;
  
}
.textArea:focus,
.textArea:hover {
  outline: none;
  border-color: #F5831A;
  background: white;
  box-shadow: 0 0 0 3px #fcd4b0;
}

.label {
  display: block;
  font-size: 1rem;
  line-height: 1;
  padding-bottom: 0.1rem;
}